<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineQuizManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDetailsServlet</display-name>
    <servlet-name>LoginDetailsServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.LoginDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDetailsServlet</servlet-name>
    <url-pattern>/LoginDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCategoryServlet</display-name>
    <servlet-name>InsertCategoryServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.InsertCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCategoryServlet</servlet-name>
    <url-pattern>/InsertCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaycategoryServlet</display-name>
    <servlet-name>DisplaycategoryServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.DisplaycategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaycategoryServlet</servlet-name>
    <url-pattern>/DisplaycategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetpasswordServlet</display-name>
    <servlet-name>ForgetpasswordServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.ForgetpasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetpasswordServlet</servlet-name>
    <url-pattern>/ForgetpasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryDetails</display-name>
    <servlet-name>UpdateCategoryDetails</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.UpdateCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryDetails</servlet-name>
    <url-pattern>/UpdateCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQuestionServlet</display-name>
    <servlet-name>InsertQuestionServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.InsertQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestionServlet</servlet-name>
    <url-pattern>/InsertQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuestionServlet</display-name>
    <servlet-name>EditQuestionServlet</servlet-name>
    <servlet-class>com.quizmanagementsystem.servlet.EditQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuestionServlet</servlet-name>
    <url-pattern>/EditQuestionServlet</url-pattern>
  </servlet-mapping>
</web-app>